<div class="inventory-form-cont">
  <h1>New Inventory Food</h1>
  <%= render "form", inventory_food: @inventory_food %><br/>
  <%= link_to "You can add new food in food store here", new_food_path, class:"inventory-new"%>
</div>
