<div class="inventory-form-cont">
  <h1>New recipe food</h1>
  <%= render "form", recipe_food: @recipe_food %><br/>
  <%= link_to "You can add new food in food store here", new_food_path, class:"inventory-new"%>
</div>